*{
    margin: 0;
    padding: 0;
    box-sizing: border;
}
body{
    background-color: #ffffff;
    color: #252525;
    object-fit: cover;
}

/*navbar css*/
.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 1px 8px rgba(0,0,0,0.3);
    position: fixed;
    z-index: 1000;
    top: 0;
}
.navleft{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}
.navleft.logo{
    width: 40px;
    margin: 5px 8px;
    cursor: pointer;
}
.navleft.logo img{
    width: 100%;
    border: 50%;
}
.searchbox{
    width: 230px;
    height: 40px;
    background: #efefef;
    border-radius: 20px;
    margin-left: 4px;
   padding-left: 10px;
  
}
.searchbox img{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #efefef;
    padding-top: 8px;
   
    
}
.searchbox input{
    height: 20px;
    background-color: #efefef;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #efefef; 
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.5);
}
.navright{
    display: flex;
    align-items:center;
    justify-content: center;
}
.navright img{
    width: 40px;
    height: 40px;
    font-size: 22px;
    object-position: center;
    line-height: 45px;
    margin-right: 16px;
    margin-left: 8px;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    object-fit: cover;
}
.navmiddle{
    margin-right: 30px;
}
.navmiddle image::after{
    content: "";
    background: blue;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 6px;
    position: absolute;
}
.profile-pic.active .card-menu-wrap{
    display: block;
}
.navmiddle img{
    height: 40px;
    width: 40px;
    background: none;
    border-radius: 10px;
    margin-left: 12px;
    font-size: 22px;
    padding: 13px 40px;
    color: #646262;
    position: relative;
}
.hidedrop{
    display: inline-block;
    position: relative;
}
.card-menu-wrap {
    display: none; 
    position: absolute;
    top: 100%;
    right: 20px;
    max-height: 400px;
    overflow: hidden;
    transition: max-height 0.5s;
    overflow-y: auto; 
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.card-menu-wrap.active {
    display: block; 
}

.card-menu{
    width: 330px;
    background: #fff;
    border-radius: 7px;
    padding: 14px;
}
.profile-menu{
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
    padding: 12px 0;
    margin-bottom: 15px;
    border-radius: 10px;
}
.card-menu-item{
    display: flex;
    align-items: center;
    text-decoration: none;
    background: #fff;
    border-radius:8px;
    padding: 5px o;
}
.card-menu-item:hover{
    background: #efefef;
}
.card-menu-item p{
    width: 100%;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-menu-item span{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-menu-item img{
    width:30px;
    height: 30px;
    background: #e5e5e5;
    padding: 6px;
    margin-top: 3px;
    margin-right: 10px;
    border-radius: 50%;
}
.content{
    margin-top: 60px;
    height: 100%;
    top: 100%;
    background:white;
    position: relative;
    display: flex;
}
.content-left{
    padding: 20px;
    width: 360px;
    overflow-y: auto; 
    overflow-x: hidden;
    scroll-behavior: smooth;
    

}
.profilepic{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    object-fit: cover;
}
.prof{
    display: flex;
    align-items: center;
}
.content-middle{
    padding: 10px;
    width: 60%;
}
.content-right{
    display: flex;
    padding: 10px;
    max-width: 360px;
}

.birthdaycard{
    padding-top: 0;
    margin-top: 0px;
    display: block;
}
.birthinfo img{
    width: 50px;
    height: 50px;
}
.birthinfo{
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.birthinfo hr{
    color: #252525;
    width: 310px;
    padding-top: 0;
}

.contact-online{
    display: flex;
    position: absolute;
    padding-top: 100px;
    align-items: center;
    
}
.contact-online p{
    padding-right: 170px;
}
.contact-online img{
    width: 20px;
    height: 20px;
    padding-right: 10px;
}
.contactdetails{
    position: absolute;
    display: block;
    padding-top: 130px;
    align-items: center;

}
.contactdetails img{
    border-radius: 50%;
    object-fit: cover;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.contact-desc{
    align-items: center;
    display: flex;
}
.storyview{
    display: flex;
    padding: 0 32px;
}
.storycard{
    margin-top: 10px;
    margin-right: 20px;
    height: 250px;
    width: 140px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,0.3);
    overflow-x: visible;
    align-items: center;
}
.storycard img{
    align-items: center;
    width: 140px;
    height: 200px;
    object-fit: cover;
}
.addicon{
    width:10px;
    height: 10px;
    object-fit: cover;
}
.addicon img{
    width: 50px;
    height: 50px;
    padding-left: 40px;
    margin-top: -50px;
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.5);
}
.storycard p{
   
    text-align: center;
    font-style:oblique;
}
.addsome{
    width:520px;
    height: 110px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,0.3);
    margin-top:20px;
    margin-left: 85px;
    object-fit: cover;
}
.upper{
    display: flex;
    align-items: center;
    position: absolute;
    margin: 0;
    padding: 0;
    object-fit: cover;
}
.upper img{
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    object-fit: cover;
}
.upper input{
    width: 400px;
    border-radius: 20px;
    align-items: center;
    height: 30px;
    padding-left: 10px;
}
.seepost{
    display: flex;
    align-items: center;
    object-fit: cover;
}
.downdetails{
    display: flex;
    margin-top: 60px;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    object-fit: cover;
    
   
}
.downdetails img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.downdetails p{
    padding-left: 10px;
}
.postdetails{
    width:520px;
    height: 654px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,0.3);
    margin-top:20px;
    margin-left: 85px;
    object-fit: cover;
}